<div class="col-md-4 mx-auto m-4">
  <form>
    <div class="form-group">
      <select class="form-control"
              [(ngModel)]="purchase.cryptoCurrency"
              name="cryptocurrency">
        <option>BITCOIN</option>
        <option>ETHERIUM</option>
        <option>RIPPLE</option>
      </select>
    </div>

    <div class="form-group">
      <input class="form-control"
             [(ngModel)]="purchase.amount"
             placeholder="Amount"
             name="amount"
             id="amountInput">
    </div>

    <div class="form-group">
      <input class="form-control"
             [(ngModel)]="purchase.purchaseDate"
             placeholder="Date of purchase"
             name="purchaseDate"
             id="purchaseDateInput">
    </div>

    <div class="form-group">
      <input class="form-control"
             [(ngModel)]="purchase.walletLocation"
             placeholder="Wallet Location"
             name="walletLocation"
             id="walletLocationInput">
    </div>

    <button class="btn btn-info btn-lg" (click)="savePurchase()">Create</button>
  </form>
</div>

<div class="col-md">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Cryptocurrency</th>
      <th>Amount</th>
      <th>Date of purchase</th>
      <th>Wallet location</th>
      <th>Current market value (EUR)</th>
      <th>Option</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let purchase of purchaseList">
      <td>{{purchase.cryptoCurrency}}</td>
      <td>{{purchase.amount}}</td>
      <td>{{purchase.purchaseDate}}</td>
      <td>{{purchase.walletLocation}}</td>
      <td>{{purchase.marketValue}}</td>
      <td>
        <button class="btn btn-danger" (click)="deletePurchase(purchase.id)"> Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
